# Developer tools' files
src/.lite_workspace.lua

# Neutralinojs binaries and builds
src/bin
src/dist

# Neutralinojs client (minified)
src/neutralino.js

# Neutralinojs related files
src/.storage
src/*.log

/node_modules